@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
	scrollbar-color: auto;
	scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #e3e6e9;
}